section {
    width: 80%;
    float: left;
    background-color: #e0e0e0;
}

aside {
    width: 20%;
    float: left;
    background-color: #e0e0e0;
    border-left: 1px solid white;
}

header {
    padding: 25px;
    background-color: #cfd8dc;
}


footer {
    clear: both;
    text-align: center;
    background-color: #CFD8DC;
}




