*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658)); /*3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    padding: 80px 0;
}
.container, .form-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title-container, .form-container, .button-container{
    margin: 20px 0;
}
.title-container{
    color: #fff;
}
.form-container input{
    margin: 5px 0;
    height: 50px;
    text-align: center;
    font-size: 1.2em;
}
input[type="date"]{
    padding-left: 40px
}
input[type="time"]{
    padding-left: 25px
}
.btnReserve{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: #fff;
    color: #8E2DE2;
    border: 0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    min-width: 200px;
    text-align: center;
    margin: auto;
}
.btnReserve:hover{
    cursor: pointer;
    background-color: rgba(221, 218, 218, 0.932);
}
.validate-input-active{
    border: 1px solid red;
}
.validate-text-active{
    color: #fff;
    font-size: 1.2em;
    display: block;
    text-align: left;
}
.validate-text-inactive{
    display: none;
}

/**************ADMIN**************/
.booking-container{
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}
.headerBookings, .bodyBookings{
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 0 10px;
}
.headerBookings{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 0;
    border-bottom: 2px solid #8E2DE2;
}
.item{
    width: 100%;
    padding: 20px 0;
}

@keyframes moveUp {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 990px){
    .booking-container{
        display: none;
    }
}

@media screen and (min-width: 780px){
    .form-container{
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 780px){
    .form-container{
        width: 90%;
        margin: auto;
    }
}